body{
    margin: 0px;
}
#drop-head{
    padding: 2px;
    display: block;
    font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    background-color: #0d304c;
}
ul{
    list-style-type:none;
}
.nav{
    line-height: 25px;
    height: 300px;
}
.drop{
    float:left;
    margin-left:40px;
    font-size: 1.2em;
}
.title{
    text-decoration:none;
    color:#fff;
}
.nav-sub{
    display: none;
     height:50px;
     padding:5px 0px 5px 0px;
     line-height: 30px;
 }

.caret {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
